In [8]:
import pandas as pd
import streamlit as st
import numpy as np
import openpyxl 
import os

In [9]:
df = pd.read_csv('energia.csv')
df

,ITTER107,Territorio,TIPO_DATO_CENERG,Tipo dato,DOTAZIONI_A,Fonte alimentazione,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,ALL,tutte le voci,2013,2013,42302968.0,NaN,NaN
1,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,H_OIL,gasolio,2013,2013,1694455.0,NaN,NaN
2,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,LPG,Gpl (Gas Petrolio Liquefatto),2013,2013,2437978.0,NaN,NaN
3,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,ELECTR,energia elettrica,2013,2013,15035032.0,NaN,NaN
4,IT,Italia,ENER_SOUR_EXP,spese delle famiglie per consumi energetici pe...,METAN,metano,2013,2013,21080936.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
296,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,H_OIL,gasolio,2013,2013,1137.0,NaN,NaN
297,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,LPG,Gpl (Gas Petrolio Liquefatto),2013,2013,382.0,NaN,NaN
298,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,ELECTR,energia elettrica,2013,2013,753.0,NaN,NaN
299,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,FIREWOOD,legna,2013,2013,470.0,NaN,NaN
300,ITG2,Sardegna,ENER_SOUR_EXP_AV,spesa media effettiva delle famiglie per consu...,PELLETS,pellets,2013,2013,418.0,NaN,NaN

In [68]:
df.Territorio

0        Italia
1        Italia
2        Italia
3        Italia
4        Italia
         ...
296    Sardegna
297    Sardegna
298    Sardegna
299    Sardegna
300    Sardegna
Name: Territorio, Length: 301, dtype: object

In [18]:
dfTerr = df.Territorio
dfTerr

0        Italia
1        Italia
2        Italia
3        Italia
4        Italia
         ...
296    Sardegna
297    Sardegna
298    Sardegna
299    Sardegna
300    Sardegna
Name: Territorio, Length: 301, dtype: object

In [ ]:
df.loc[df['Territorio'] == 'Italia']

In [ ]:
# j="Valle d'Aosta"
# j=j.replace("'", " ")
# dfItalia=df.loc[df['Territorio'] == "Valle d'Aosta"]
# dfItalia.to_csv('file/file_csv/'+j+'.csv',sep="\t")
# j

In [ ]:
# for i in dfTerr:
#     dfState=df.loc[df['Territorio'] == i]
#     i=i.replace("'", " ")
#     i=i.replace("/", " ")
#     dfState.to_csv("file/file_csv/"+i+".csv",sep="\t")

In [ ]:
type(i)

In [ ]:
type(dfItalia)

In [ ]:
df.index.__len__()
type(df.index.__len__())

In [ ]:
type(dfTerr)

In [ ]:
dfTerr.__len__

In [ ]:
df1 =df.groupby('Territorio')
df1.first()

In [19]:
for i in dfTerr:
    dfState=df.loc[df['Territorio'] == i]
    i=i.replace("'", " ")
    i=i.replace("/", " ")
    dfState.to_excel("file/file_xlsx/"+i+".xlsx")

In [39]:
dir = 'file/file_csv'
for file in os.scandir(dir):
    os.remove(file.path)

In [13]:
for i in df.Territorio:
        i=i.replace("'", "")
        i=i.replace("/", "")
        i=i.replace(" ", "_")
        i=i.replace("-", "_")
        os.remove("file/file_xlsx/"+i+".csv")

FileNotFoundError: [WinError 2] Impossibile trovare il file specificato: 'Italia.csv'